{% extends 'main.html'%} {% block body%}
<div class="container d-flex h-100 mt-3">
        <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-6">Online Couse</h1>
                  <p class="lead">Learn New Technology To Enhance Your Skills!</p>
                </div>
              </div>

    <div class="col-md-6 intro-img order-md-last order-first">
      <img src="https://demux.in/images/code.svg" alt="Image" class="img-fluid" />
    </div>
  </div>
</div>
{%endblock%}
